.section {
  min-height: 100vh;
  padding: 6rem 2rem;
  width: 100%;
  display: flex;
  justify-content: column;
}

.container {
  max-width: 1200px;
  width: 100%;
}

.heading {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 3rem;
  background: linear-gradient(90deg, #fff, #a5a5a5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem;
}