# --- Global Ignores (Applies to everything) ---
node_modules/
.DS_Store
.env
.vscode/
.idea/
*.log
.env.local

# --- Server Specific ---
# Even if server doesn't have its own gitignore, this covers it
server/node_modules/
server/dist/
server/.env
server/__pycache__
server/venv/
server/*.py[cod]
server/db.sqlite3

# --- Client Specific ---
# (Redundant if client has its own file, but safe to keep here)
client/node_modules/
client/.next/
client/out/
client/build/

venv/
__pycache__/
*.pyc
db.sqlite3


configuration/hosts.ini
configuration/*.retry
configuration/.vault_pass
configuration/vars/secrets.yml

infrastructure/.terraform/
infrastructure/.terraform.lock.hcl
infrastructure/*.tfvars
infrastructure/*.tfvars.json
infrastructure/terraform.tfstate
infrastructure/terraform.tfstate.backup

terraform/*.tfstate
terraform/*.tfstate.backup

*.peminfrastructure/*.tfstate
infrastructure/*.tfstate.backup
