.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: var(--bg-color);
}

.main{
    flex: 1;
    overflow-y: auto;
    padding: 40px;
    position: relative;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .main {
        padding: 20px;
    }
}